*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
header{
    background-color: black;
    font-family: sans-serif;
    color: white;
    padding: 50px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 5px 2px 7px rgb(117, 117, 117);
    
    
}
header h1{
    margin-left: 2%;  
    cursor: pointer; 
}

header nav ul {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   gap: 35px;
   margin-right: 20%;
   
   
}

header nav ul li:hover{
   
    transition: 0.2s;
}

header nav ul li a{
    color: rgb(119, 122, 125);
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

header nav ul li a:hover {
    color: rgb(222, 224, 227);
    border-bottom: 2px solid white;
    transition: 0.2s;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 5px;
   
}

.flex-container{
    max-width: 100%;
    height:auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
     
}
/* https://tse4.mm.bing.net/th?id=OIP.BwEQe64gjJXiiS070rpFYQHaHa&pid=Api&P=0 */



/* .flex-2{
    background-image: url();
    max-width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 15px;
    margin: auto; 
    
      
   
}

.flex-1{
    background-position: center ;   
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url();
    max-width: 100%;
    height: 200px;
    margin: auto;
    
 }
 .flex-3{
    background-image: url();
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;  
    max-width: 100%;
    height: 200px;      
    margin: auto;  
 }
 .flex-4{
    background-image: url();
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: auto; 
    height: 200px;   
 }
 .flex-5{
    background-image: url();
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto; 
    height: 200px;   
 }
 .flex-6{
    background-image: url();
    background-position: center ;
    background-size: 60%;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto; 
    height: 200px;   
 }
 .flex-7{
    background-image: url();
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto; 
    height: 200px; 
     
 }
 .flex-8{
    background-image: url();
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto; 
    height: 200px;
 } */

.flex-1{

}

 .flex-2 img{
    width: 65%;
 }
 .flex-1 img{
    width: 50%;
 }

 .flex-3 img{
    width: 50%;
 }
 .flex-4 img{
    width: 50%;
 }
 .flex-5 img{
    width: 50%;
 }

.flex-6 img{
    width: 50%;
}

.flex-7 img{
    width: 50%;
}

.flex-8 img{
    width: 50%;
}

 .flex-9 img{
   width: 50%;   
 }
 .flex-10 img{
    width: 50%;     
 }
 main{
   margin: auto;  

 }

 @media (max-width:722px) {
    .flex-container{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr ;  
    
    }
    section{
        width: 100%;
       
    }
    .marca{
        width: 100%;
    }
   
        
      
    }
    
 

 /* =======================maim=========== */

  #especial h1{
    text-align: center;
    text-transform: capitalize;
    padding: 80px;
    
 }

 section{   
    width: 20%;

 }

 section h2{

 }

 section p{
   text-align: left;
   
 }

 .marca{
    padding: 20px 20px 50px 20px;
 }


footer{
    background-color: black;
   width: 100%;
    display: flex;
    color: rgba(240, 248, 255, 0.729);
    justify-content: space-around;
    
}

.footer{
    padding: 12px;
}

.footer h2{
    font-size: 17px;
    font-weight: normal;
    
}

.footer p{
    font-size: 12px;
    font-weight: normal;
    padding: 10px 0px 10px 0px;

}

.footer h2 a{
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
}

.footer h2 a:hover{
    color: rgb(57, 152, 235);
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    text-decoration: underline;
}

.navegacao{
  align-items: center;
   display: flex;
  
}
.navegacao li{
    list-style: none;
    line-height: 1.5rem;
}

.navegacao li a{
    color:rgba(240, 248, 255, 0.729); 
    font-weight: 600;
    text-decoration: none;
}

.navegacao li a:hover{
    transition: 0.3s;
    color: cyan;
    
    text-decoration: underline;
}

footer p{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 130px;
}


